<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="../static/adduserpage.css" th:href="@{css/adduserpage.css}">
</head>

<body>
    <h1>Add Employee </h1>
    <form action="/adduser" method="get">

        <label for="userId">Empoyee ID:</label>
        <input type="text" id="userId" name="id" required>

    

        <label for="userName">Name:</label>
        <input type="text" id="Name" name="Name" required>

        <label for="contactNumber">Contact Number:</label>
        <input type="text" id="contact" name="contact" required>

        <label for="Address">Address</label>
       
        <textarea name="address"  id="address" cols="30" rows="10" required></textarea>

        <label for="department">department:</label>
        <input type="text" id="department" name="department" required>

        <input type="submit" value="Submit" name="submit"><br>
        <i><a href="/index"> Back</a></i>
    </form>
</body>

</html>